@page "/categoria/nova"

@using PWFilmes.Domain;
@inject NavigationManager Nav

<h3>Nova Categoria</h3>

<EditForm Model="@categoriaModel">
    <RadzenRow>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="9">
            <RadzenFormField Text="Descrição" Style="width: 100%;">
                <RadzenTextBox/>
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Cor" Style="width: 100%;">
                <RadzenTextBox/>
            </RadzenFormField>
        </RadzenColumn>
    </RadzenRow>
    <br/>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
        <RadzenButton class="rz-border-radius-10" Icon="report" Text="Cancelar" ButtonStyle="ButtonStyle.Danger" Click="Cancelar"/>
        <RadzenButton class="rz-border-radius-10" Icon="check_circle" Text="Confirmar" ButtonStyle="ButtonStyle.Success"/>
    </RadzenStack>
</EditForm>


@code {
    Categoria categoriaModel = new Categoria();

    public void Cancelar()
    {
        Nav.NavigateTo("categoria/listar");
    }

    public void Confirmar()
    {

    }
}
